# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
#poetry.lock

# Pipenv
Pipfile.lock

# pyenv
.python-version

# VSCode settings
.vscode/

# mypy static type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm settings
.idea/

# Local env files
*.env
.env.*

# OS junk
.DS_Store
Thumbs.db

# Test output
htmlcov/
coverage.xml
.cache
nosetests.xml
pytest_cache/
cover/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
